* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary : #ffcc00; /* Saffron yellow */
    --secondary: #800000; /* Deep maroon */
    --accent: #004d00; /* Forest green */
}

.header-content {
    text-align: center;
    background-color: var(--primary);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header h1 {
    color: var(--secondary)
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
}

/* nav ul li {
    margin: 0 15px;
} */

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    display: block;
    text-align: center;
    width: auto;
}

nav ul li a:hover  {
    background-color: #003300; /* Darker green */
    transition: background-color 0.3s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary);
    width: 100%;
}

.search {
    position: relative;
}

.search-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.search-icon {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
}

.imag-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-swapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 1000px;
    height: 600px;
}

.image-swapper img {
    max-width: 80%;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}


/* Hide my submenus by default */
.my-menu ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
  }
  
  /* Position submenus relative to parent list item */
  .my-menu li {
    position: relative;
  }
  
  .my-menu li a {
    padding: 15px 30px;
  }
  /* Look, Ma! No onclick handler! */
  .my-menu li:hover > ul {
    display: block;
    min-width: 100%;
  }
  
  /* Modern Browsers only */
  .my-menu li:focus-within > ul {
    display: block;
  }
